.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 100%;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 4px;
  border: 1px solid transparent;
  transition: (--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item h5 {
  margin: 4px 0 4px;
}

.portfolio__item-cta {
  display: flex;
  gap: 16px;
}

.portfolio__item-image {
  background-size: 100%;
}

/* MEDI QUERY (MEDIUM DEVICES */
@media screen and (max-width: var(--medium)) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .section_title {
    padding-top: 20px;
  }
}

/* MEDI QUERY (SMALL DEVICES */
@media screen and (max-width: var(--small)) {
  .portfolio__container {
    display: flex;
    flex-direction: column;
  }
}