#portfolio {
  background: url(../../assets/3d-grunge-room-interior-with-spotlight-smoky-atmosphere-background.jpg) no-repeat;
  background-size: 100%;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 21px;
  border-radius: 32px;
  border: 1px solid transparent;
  transition: (--transition);
}

.portfolio__item-image {
}


/* MEDI QUERY (MEDIUM DEVICES */
@media screen and (max-width: 1200px) {
  #portfolio {
    background-size: cover;
    margin: 0;
  }
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .section_title {
    padding-top: 20px;
  }
}

/* MEDI QUERY (SMALL DEVICES */
@media screen and (max-width: 600px) {
  #portfolio {
    background-size: fill;
    margin: 0;
  }

  /* .portfolio__container {
    grid-template-columns: 1fr;
    gap: 0;
  } */
}