.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.about__card {
  background: var(--color-bg-secondary);
  border: 1px solid transparent;
  border-radius: 10%;
  text-align: center;
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-secondary);
  cursor: default;
}

.card__icon {
  color: var(--color-primary);
  font-size: 22px;
  margin-bottom: 16px;;
}

.about__card h5 {
  font-size: 14px;
}

.about__card small {
  color: var(--color-light);
  font-size: 11px;
}

/* MEDI QUERY (SMALL DEVICES */
@media screen and (max-width: 600px) {
.about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 16px
  }
}