.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.about__card {
  background-color: var(--color-teal-secondary);
  border: 1px solid transparent;
  border-radius: 5%;
  text-align: center;
}

.card__icon {
  color: var(--color-white);
  font-size: 22px;
  margin: 8px;
}

.about__card h5 {
  font-size: 14px;
  color: var(--color-white);
}

.about__card small {
  color: var(--color-white);
  font-size: 11px;
}

/* MEDI QUERY (SMALL DEVICES */
@media screen and (max-width: 600px) {
  .about__cards {
    display: none;
  }
}