.about__me {
  border-radius: 32px;
  display: grid;
  place-items: center;
}

.about__me-image {
  overflow: hidden;
}

.about__me__text {
  margin: 16px 0 4px;
  color: var(--color-light)
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.about__me-image {
  width: fit-content;
  height: fit-content;
}

/* MEDI QUERY (MEDIUM DEVICES */
@media screen and (max-width: 1200px) {
  .about__me {
    width: 50%;
    margin: 0 auto;
  }
  
  .about__me__text {
    padding: 2px;
    margin: 0;
  }
}

/* MEDI QUERY (SMALL DEVICES */
@media screen and (max-width: 600px) {
  .about__me {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0
  }

  .about__me__text {
    padding: 2px 0 2px 20px;
  }
}