.about__me {
  border-radius: 32px;
  background-color: #2a8096;
  background-image: url(../../../../assets/brick-wall.png);
  display: grid;
  place-items: center;
}

.about__me-image {
  border-radius: 32px;
  overflow: hidden;
}

.about__me__container p {
  margin: 16px 0 4px;
  color: var(--color-black)
}

/* MEDI QUERY (MEDIUM DEVICES */
@media screen and (max-width: 1200px) {
  .about__me {
    width: 50%;
    margin: 16px auto 16px;
  }

  .about__me__container p {
    margin: 4px 0 4px;
    color: var(--color-black)
  }
}

/* MEDI QUERY (SMALL DEVICES */
@media screen and (max-width: 600px) {
  .about__me {
    width: 100%;
  }

  .about__me__container p {
    margin: 4px 0 4px;
    color: var(--color-black)
  }
}