.about__container {
  display: grid;
  grid-template-columns: 35% 55%;
  gap: 10%;
  height: 100%;
}

.btn__container {
  margin: 10px;
  text-align: center;
}
/* MEDI QUERY (MEDIUM DEVICES */
@media screen and (max-width: 900px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  
  .section_title {
    padding-top: 20px;
  }
}

/* MEDI QUERY (SMALL DEVICES */
@media screen and (max-width: 900px600px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
    height: 100vh;
  }

  .about__me__container p {
    margin: 4px 0 4px;
  }
}