.about__container {
  display: grid;
  grid-template-columns: 35% 55%;
  gap: 10%;
}

#about {
  background: var(--color-white);
}

.btn__container {
  margin: 10px;
  text-align: center;
}
/* MEDI QUERY (MEDIUM DEVICES */
@media screen and (max-width: 1200px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
