nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 11px 27px;
  z-index: 2;
  position: fixed;
  left: 8%;
  transform: translateX(-50%);
  top: 35%;
  display: flex;
  gap: 13px;
  border-radius: 48px;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 17px;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-bg-primary);
  color: var(--color-white);
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
}